In [151]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path
folder=Path('Data/clean')
for file in folder.iterdir():
    if file.is_file():
        df = pd.read_csv(file)
        engine = create_engine("postgresql+psycopg2://user:root@localhost:5433/test_db")
        df.to_sql(f'{file.stem}', engine, if_exists='replace', index=False)
        
print("Data uploaded successfully!")

Data uploaded successfully!

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pathlib import Path

# Folder containing CSV files
folder = Path('Data/')

# MySQL connection string (replace credentials)
mysql_engine = create_engine(
    "mysql+mysqlconnector://user:root@localhost:3306/db"
)

# Loop through CSV files and load into MySQL
for file in folder.iterdir():
    if file.is_file() and file.suffix == '.csv':
        df = pd.read_csv(file)
        df.to_sql(
            name=f'{file.stem}',  # Table name = filename (without extension)
            con=mysql_engine,
            if_exists='replace',  # Options: 'replace', 'append', 'fail'
            index=False
        )
        print(f"Loaded {file.name} into MySQL table: {file.stem}")

print("✅ All data uploaded successfully to MySQL!")

Loaded stg_playing_time.csv into MySQL table: stg_playing_time
Loaded stg_scores_fixtures.csv into MySQL table: stg_scores_fixtures
Loaded stg_goalkeeping.csv into MySQL table: stg_goalkeeping
Loaded stg_defensive_actions.csv into MySQL table: stg_defensive_actions
Loaded stg_pass_types.csv into MySQL table: stg_pass_types
Loaded stg_advanced_goalkeeping.csv into MySQL table: stg_advanced_goalkeeping
Loaded stg_miscellaneous_stats.csv into MySQL table: stg_miscellaneous_stats
Loaded stg_standard_stats.csv into MySQL table: stg_standard_stats
Loaded stg_goal_shot_creation.csv into MySQL table: stg_goal_shot_creation
Loaded stg_possession.csv into MySQL table: stg_possession
Loaded stg_passing.csv into MySQL table: stg_passing
✅ All data uploaded successfully to MySQL!

### here we need to delete from starts_starts till the end

In [107]:
df=pd.read_csv('./Data/raw/stg_playing_time.csv')
df.head(5)

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_MP,Playing Time_Min,Playing Time_Mn/MP,Playing Time_Min%,Playing Time_90s,Starts_Starts,...,Team Success_onGA,Team Success_+/-,Team Success_+/-90,Team Success_On-Off,Team Success (xG)_onxG,Team Success (xG)_onxGA,Team Success (xG)_xG+/-,Team Success (xG)_xG+/-90,Team Success (xG)_On-Off,Unnamed: 26_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,38,3371.0,89.0,98.6,37.5,38,...,40.0,45.0,1.20,1.20,81.6,38.1,43.5,1.16,1.05,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37,3330.0,90.0,97.4,37.0,37,...,38.0,46.0,1.24,2.24,79.9,36.4,43.5,1.18,1.14,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,37,3160.0,85.0,92.4,35.1,37,...,35.0,44.0,1.25,0.91,76.2,33.3,42.8,1.22,0.96,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,35,2599.0,74.0,76.0,28.9,30,...,24.0,45.0,1.56,1.56,64.2,24.3,39.9,1.38,0.98,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,31,2560.0,83.0,74.9,28.4,30,...,28.0,31.0,1.09,-0.38,58.6,26.9,31.7,1.11,-0.14,Matches

In [108]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_MP', 'Playing Time_Min', 'Playing Time_Mn/MP',
       'Playing Time_Min%', 'Playing Time_90s', 'Starts_Starts',
       'Starts_Mn/Start', 'Starts_Compl', 'Subs_Subs', 'Subs_Mn/Sub',
       'Subs_unSub', 'Team Success_PPM', 'Team Success_onG',
       'Team Success_onGA', 'Team Success_+/-', 'Team Success_+/-90',
       'Team Success_On-Off', 'Team Success (xG)_onxG',
       'Team Success (xG)_onxGA', 'Team Success (xG)_xG+/-',
       'Team Success (xG)_xG+/-90', 'Team Success (xG)_On-Off',
       'Unnamed: 26_level_0_Matches'],
      dtype='object')

In [109]:
df = df.rename(columns={
    # General Info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_MP': 'Matches Played',

    # Playing Time
    'Playing Time_Min': 'Minutes Played',
    'Playing Time_Mn/MP': 'Minutes per Match',
    'Playing Time_Min%': 'Minutes % of Team Total',
    'Playing Time_90s': '90s Played',

    # Starts
    'Starts_Starts': 'Starts',
    'Starts_Mn/Start': 'Minutes per Start',
    'Starts_Compl': 'Full Matches',

    # Substitutions
    'Subs_Subs': 'Sub Appearances',
    'Subs_Mn/Sub': 'Minutes per Sub',
    'Subs_unSub': 'Unused Sub Appearances',

    # Team Success (On/Off metrics)
    'Team Success_PPM': 'Points per Match',
    'Team Success_onG': 'Goals For while On',
    'Team Success_onGA': 'Goals Against while On',
    'Team Success_+/-': 'Goal Difference while On',
    'Team Success_+/-90': 'Goal Difference per 90',
    'Team Success_On-Off': 'Team +/- On vs Off',

    # Team Success (xG)
    'Team Success (xG)_onxG': 'xG while On',
    'Team Success (xG)_onxGA': 'xGA while On',
    'Team Success (xG)_xG+/-': 'xG Differential while On',
    'Team Success (xG)_xG+/-90': 'xG Differential per 90',
    'Team Success (xG)_On-Off': 'xG +/- On vs Off',

    # Matches
    'Unnamed: 26_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [110]:
df.to_csv('./Data/clean/stg_playing_time.csv', index=False)

In [111]:
df=pd.read_csv('./Data/raw/stg_scores_fixtures.csv')
df.head()
#not recommended

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Opp Formation,Referee,Match Report,Notes
0,2024-08-17,12:30 (11:30),Premier League,Matchweek 1,Sat,Away,W,2,0,Ipswich Town,2.6,0.5,62,30014,Virgil van Dijk,4-2-3-1,4-2-3-1,Tim Robinson,Match Report,NaN
1,2024-08-25,16:30 (15:30),Premier League,Matchweek 2,Sun,Home,W,2,0,Brentford,2.5,0.5,62,60017,Virgil van Dijk,4-2-3-1,4-4-2,Stuart Attwell,Match Report,NaN
2,2024-09-01,16:00 (15:00),Premier League,Matchweek 3,Sun,Away,W,3,0,Manchester Utd,1.8,1.4,47,73738,Virgil van Dijk,4-2-3-1,4-2-3-1,Anthony Taylor,Match Report,NaN
3,2024-09-14,15:00 (14:00),Premier League,Matchweek 4,Sat,Home,L,0,1,Nott'ham Forest,0.9,0.4,68,60344,Virgil van Dijk,4-2-3-1,4-2-3-1,Michael Oliver,Match Report,NaN
4,2024-09-17,21:00 (19:00),Champions Lg,League phase,Tue,Away,W,3,1,it Milan,3.1,0.6,51,59826,Virgil van Dijk,4-2-3-1,4-2-3-1,Espen Eskås,Match Report,NaN

In [112]:
df.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'xG', 'xGA', 'Poss', 'Attendance', 'Captain', 'Formation',
       'Opp Formation', 'Referee', 'Match Report', 'Notes'],
      dtype='object')

In [113]:
df = df.rename(columns={
    'Comp': 'Competition',
    'Round': 'Match Round',
    'Day': 'Weekday',
    'Venue': 'Stadium',
    'Result': 'Match Result',
    'GF': 'Goals For',
    'GA': 'Goals Against',
    'xG': 'Expected Goals',
    'xGA': 'Expected Goals Against',
    'Poss': 'Possession %',
    'Captain': 'Team Captain',
    'Opp Formation': 'Opponent Formation',
    'Referee': 'Match Referee',
    'Match Report': 'Report Link'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [114]:
df.to_csv('./Data/clean/stg_scores_fixtures.csv', index=False)

In [115]:
df=pd.read_csv('./Data/raw/stg_defensive_actions.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,Tackles_Tkl,Tackles_TklW,Tackles_Def 3rd,Tackles_Mid 3rd,Tackles_Att 3rd,...,Challenges_Tkl%,Challenges_Lost,Blocks_Blocks,Blocks_Sh,Blocks_Pass,Unnamed: 17_level_0_Int,Unnamed: 18_level_0_Tkl+Int,Unnamed: 19_level_0_Clr,Unnamed: 20_level_0_Err,Unnamed: 21_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,21,11,7,5,9,...,47.1,9,12,0,12,9,30,5,0,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,38,20,17,19,2,...,59.1,9,27,16,11,56,94,190,4,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,69,35,27,29,13,...,57.1,24,35,10,25,60,129,59,2,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,95,58,28,51,16,...,52.9,49,61,6,55,22,117,29,1,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,40,26,25,13,2,...,71.4,10,29,15,14,17,57,133,3,Matches

In [116]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Tackles_Tkl', 'Tackles_TklW',
       'Tackles_Def 3rd', 'Tackles_Mid 3rd', 'Tackles_Att 3rd',
       'Challenges_Tkl', 'Challenges_Att', 'Challenges_Tkl%',
       'Challenges_Lost', 'Blocks_Blocks', 'Blocks_Sh', 'Blocks_Pass',
       'Unnamed: 17_level_0_Int', 'Unnamed: 18_level_0_Tkl+Int',
       'Unnamed: 19_level_0_Clr', 'Unnamed: 20_level_0_Err',
       'Unnamed: 21_level_0_Matches'],
      dtype='object')

In [117]:
df = df.rename(columns={
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Tackles
    'Tackles_Tkl': 'Tackles',
    'Tackles_TklW': 'Tackles Won',
    'Tackles_Def 3rd': 'Tackles Defensive Third',
    'Tackles_Mid 3rd': 'Tackles Middle Third',
    'Tackles_Att 3rd': 'Tackles Attacking Third',

    # Challenges
    'Challenges_Tkl': 'Challenges Tackles',
    'Challenges_Att': 'Challenges Attempted',
    'Challenges_Tkl%': 'Challenges Success %',
    'Challenges_Lost': 'Challenges Lost',

    # Blocks
    'Blocks_Blocks': 'Blocks',
    'Blocks_Sh': 'Blocked Shots',
    'Blocks_Pass': 'Blocked Passes',

    # Miscellaneous
    'Unnamed: 17_level_0_Int': 'Interceptions',
    'Unnamed: 18_level_0_Tkl+Int': 'Tackles + Interceptions',
    'Unnamed: 19_level_0_Clr': 'Clearances',
    'Unnamed: 20_level_0_Err': 'Errors',
    'Unnamed: 21_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [118]:
df.to_csv('./Data/clean/stg_defensive_actions.csv', index=False)

In [119]:
df=pd.read_csv('./Data/raw/stg_pass_types.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,Unnamed: 5_level_0_Att,Pass Types_Live,Pass Types_Dead,Pass Types_FK,Pass Types_TB,...,Pass Types_Crs,Pass Types_TI,Pass Types_CK,Corner Kicks_In,Corner Kicks_Out,Corner Kicks_Str,Outcomes_Cmp,Outcomes_Off,Outcomes_Blocks,Unnamed: 20_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,1263,1227,30,7,19,...,79,23,0,0,0,0,892,6,62,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,2935,2708,224,86,1,...,1,8,0,0,0,0,2688,3,9,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,1927,1889,32,16,8,...,7,10,0,0,0,0,1718,6,15,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,1524,1403,116,35,6,...,86,9,71,26,36,0,1273,5,31,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,1905,1856,46,41,1,...,0,5,0,0,0,0,1718,3,9,Matches

In [120]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Unnamed: 5_level_0_Att', 'Pass Types_Live',
       'Pass Types_Dead', 'Pass Types_FK', 'Pass Types_TB', 'Pass Types_Sw',
       'Pass Types_Crs', 'Pass Types_TI', 'Pass Types_CK', 'Corner Kicks_In',
       'Corner Kicks_Out', 'Corner Kicks_Str', 'Outcomes_Cmp', 'Outcomes_Off',
       'Outcomes_Blocks', 'Unnamed: 20_level_0_Matches'],
      dtype='object')

In [121]:
df = df.rename(columns={
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',
    'Unnamed: 5_level_0_Att': 'Passes Attempted',
    
    # Pass Types
    'Pass Types_Live': 'Live Passes',
    'Pass Types_Dead': 'Dead Ball Passes',
    'Pass Types_FK': 'Free Kick Passes',
    'Pass Types_TB': 'Through Balls',
    'Pass Types_Sw': 'Switches',
    'Pass Types_Crs': 'Crosses',
    'Pass Types_TI': 'Throw-Ins',
    'Pass Types_CK': 'Corner Kicks',
    
    # Corner Kick Types
    'Corner Kicks_In': 'Inswinging Corners',
    'Corner Kicks_Out': 'Outswinging Corners',
    'Corner Kicks_Str': 'Straight Corners',
    
    # Pass Outcomes
    'Outcomes_Cmp': 'Passes Completed',
    'Outcomes_Off': 'Offsides',
    'Outcomes_Blocks': 'Passes Blocked',

    'Unnamed: 20_level_0_Matches': 'Matches'
})

df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [122]:
df.to_csv('./Data/clean/stg_pass_types.csv', index=False)

In [123]:
df=pd.read_csv('./Data/raw/stg_miscellaneous_stats.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,Performance_CrdY,Performance_CrdR,Performance_2CrdY,Performance_Fls,Performance_Fld,...,Performance_Int,Performance_TklW,Performance_PKwon,Performance_PKcon,Performance_OG,Performance_Recov,Aerial Duels_Won,Aerial Duels_Lost,Aerial Duels_Won%,Unnamed: 21_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,1,0,0,25,39,...,9,11,0,0,0,101,9,14,39.1,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,5,0,0,17,13,...,56,20,0,0,0,115,119,46,72.1,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,6,1,0,47,52,...,60,35,0,0,0,193,26,14,65.0,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,6,0,0,62,40,...,22,58,0,0,0,148,19,34,35.8,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,5,0,0,27,20,...,17,26,0,0,0,98,74,29,71.8,Matches

In [124]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Performance_CrdY', 'Performance_CrdR',
       'Performance_2CrdY', 'Performance_Fls', 'Performance_Fld',
       'Performance_Off', 'Performance_Crs', 'Performance_Int',
       'Performance_TklW', 'Performance_PKwon', 'Performance_PKcon',
       'Performance_OG', 'Performance_Recov', 'Aerial Duels_Won',
       'Aerial Duels_Lost', 'Aerial Duels_Won%',
       'Unnamed: 21_level_0_Matches'],
      dtype='object')

In [125]:
df = df.rename(columns={
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Performance stats
    'Performance_CrdY': 'Yellow Cards',
    'Performance_CrdR': 'Red Cards',
    'Performance_2CrdY': 'Second Yellow Cards',
    'Performance_Fls': 'Fouls Committed',
    'Performance_Fld': 'Fouls Drawn',
    'Performance_Off': 'Offsides',
    'Performance_Crs': 'Crosses',
    'Performance_Int': 'Interceptions',
    'Performance_TklW': 'Tackles Won',
    'Performance_PKwon': 'Penalties Won',
    'Performance_PKcon': 'Penalties Conceded',
    'Performance_OG': 'Own Goals',
    'Performance_Recov': 'Ball Recoveries',

    # Aerial Duels
    'Aerial Duels_Won': 'Aerials Won',
    'Aerial Duels_Lost': 'Aerials Lost',
    'Aerial Duels_Won%': 'Aerial Win %',

    'Unnamed: 21_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [126]:
df.to_csv('./Data/clean/stg_miscellaneous_stats.csv', index=False)

In [127]:
df=pd.read_csv('./Data/raw/stg_standard_stats.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG,Unnamed: 33_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,38,38,3371.0,37.5,29.0,18.0,...,0.48,1.25,0.53,1.01,0.67,0.38,1.05,0.49,0.87,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37,37,3330.0,37.0,3.0,1.0,...,0.03,0.11,0.08,0.11,0.06,0.02,0.08,0.06,0.08,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,37,37,3160.0,35.1,0.0,4.0,...,0.11,0.11,0.00,0.11,0.03,0.09,0.12,0.03,0.12,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,35,30,2599.0,28.9,5.0,5.0,...,0.17,0.35,0.17,0.35,0.10,0.16,0.26,0.10,0.26,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,31,30,2560.0,28.4,1.0,2.0,...,0.07,0.11,0.04,0.11,0.06,0.03,0.10,0.06,0.10,Matches

In [128]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_MP', 'Playing Time_Starts', 'Playing Time_Min',
       'Playing Time_90s', 'Performance_Gls', 'Performance_Ast',
       'Performance_G+A', 'Performance_G-PK', 'Performance_PK',
       'Performance_PKatt', 'Performance_CrdY', 'Performance_CrdR',
       'Expected_xG', 'Expected_npxG', 'Expected_xAG', 'Expected_npxG+xAG',
       'Progression_PrgC', 'Progression_PrgP', 'Progression_PrgR',
       'Per 90 Minutes_Gls', 'Per 90 Minutes_Ast', 'Per 90 Minutes_G+A',
       'Per 90 Minutes_G-PK', 'Per 90 Minutes_G+A-PK', 'Per 90 Minutes_xG',
       'Per 90 Minutes_xAG', 'Per 90 Minutes_xG+xAG', 'Per 90 Minutes_npxG',
       'Per 90 Minutes_npxG+xAG', 'Unnamed: 33_level_0_Matches'],
      dtype='object')

In [129]:
df = df.rename(columns={
    # Player Info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_MP': 'Matches Played',

    # Playing Time
    'Playing Time_Starts': 'Starts',
    'Playing Time_Min': 'Minutes Played',
    'Playing Time_90s': '90s Played',

    # Performance
    'Performance_Gls': 'Goals',
    'Performance_Ast': 'Assists',
    'Performance_G+A': 'Goals + Assists',
    'Performance_G-PK': 'Goals (Non-Penalty)',
    'Performance_PK': 'Penalty Goals',
    'Performance_PKatt': 'Penalty Attempts',
    'Performance_CrdY': 'Yellow Cards',
    'Performance_CrdR': 'Red Cards',

    # Expected Metrics
    'Expected_xG': 'Expected Goals (xG)',
    'Expected_npxG': 'Non-Penalty xG',
    'Expected_xAG': 'Expected Assists (xAG)',
    'Expected_npxG+xAG': 'npxG + xAG',

    # Progression
    'Progression_PrgC': 'Progressive Carries',
    'Progression_PrgP': 'Progressive Passes',
    'Progression_PrgR': 'Progressive Receptions',

    # Per 90 Minutes
    'Per 90 Minutes_Gls': 'Goals per 90',
    'Per 90 Minutes_Ast': 'Assists per 90',
    'Per 90 Minutes_G+A': 'G+A per 90',
    'Per 90 Minutes_G-PK': 'Non-PK Goals per 90',
    'Per 90 Minutes_G+A-PK': 'Non-PK G+A per 90',
    'Per 90 Minutes_xG': 'xG per 90',
    'Per 90 Minutes_xAG': 'xAG per 90',
    'Per 90 Minutes_xG+xAG': 'xG+xAG per 90',
    'Per 90 Minutes_npxG': 'npxG per 90',
    'Per 90 Minutes_npxG+xAG': 'npxG+xAG per 90',

    # Matches
    'Unnamed: 33_level_0_Matches': 'Matches'
})
df.columns=[col.lower().replace(' ','_') for col in df.columns]

In [130]:
df.to_csv('./Data/clean/stg_standard_stats.csv', index=False)

In [131]:
df=pd.read_csv('./Data/raw/stg_goal_shot_creation.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,SCA_SCA,SCA_SCA90,SCA Types_PassLive,SCA Types_PassDead,SCA Types_TO,...,SCA Types_Def,GCA_GCA,GCA_GCA90,GCA Types_PassLive,GCA Types_PassDead,GCA Types_TO,GCA Types_Sh,GCA Types_Fld,GCA Types_Def,Unnamed: 21_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,169,4.51,123,2,22,...,3,27,0.72,20,0,5,2,0,0,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,48,1.30,41,0,1,...,2,4,0.11,4,0,0,0,0,0,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,68,1.94,60,0,5,...,1,6,0.17,6,0,0,0,0,0,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,120,4.15,83,24,2,...,3,15,0.52,10,3,0,2,0,0,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,31,1.09,26,0,0,...,1,7,0.25,6,0,0,0,0,1,Matches

In [132]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'SCA_SCA', 'SCA_SCA90', 'SCA Types_PassLive',
       'SCA Types_PassDead', 'SCA Types_TO', 'SCA Types_Sh', 'SCA Types_Fld',
       'SCA Types_Def', 'GCA_GCA', 'GCA_GCA90', 'GCA Types_PassLive',
       'GCA Types_PassDead', 'GCA Types_TO', 'GCA Types_Sh', 'GCA Types_Fld',
       'GCA Types_Def', 'Unnamed: 21_level_0_Matches'],
      dtype='object')

In [133]:
df = df.rename(columns={
    # General Info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Shot-Creating Actions (SCA)
    'SCA_SCA': 'SCA Total',
    'SCA_SCA90': 'SCA per 90',
    'SCA Types_PassLive': 'SCA: Live Pass',
    'SCA Types_PassDead': 'SCA: Dead Ball Pass',
    'SCA Types_TO': 'SCA: Take-Ons',
    'SCA Types_Sh': 'SCA: Shots',
    'SCA Types_Fld': 'SCA: Fouls Drawn',
    'SCA Types_Def': 'SCA: Defensive Actions',

    # Goal-Creating Actions (GCA)
    'GCA_GCA': 'GCA Total',
    'GCA_GCA90': 'GCA per 90',
    'GCA Types_PassLive': 'GCA: Live Pass',
    'GCA Types_PassDead': 'GCA: Dead Ball Pass',
    'GCA Types_TO': 'GCA: Take-Ons',
    'GCA Types_Sh': 'GCA: Shots',
    'GCA Types_Fld': 'GCA: Fouls Drawn',
    'GCA Types_Def': 'GCA: Defensive Actions',

    # Matches
    'Unnamed: 21_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [134]:
df.to_csv('./Data/clean/stg_goal_shot_creation.csv', index=False)

In [135]:
df=pd.read_csv('./Data/raw/stg_possession.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,Touches_Touches,Touches_Def Pen,Touches_Def 3rd,Touches_Mid 3rd,Touches_Att 3rd,...,Carries_TotDist,Carries_PrgDist,Carries_PrgC,Carries_1/3,Carries_CPA,Carries_Mis,Carries_Dis,Receiving_Rec,Receiving_PrgR,Unnamed: 27_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,1695,11,97,500,1119,...,6973,3695,154,59,126,116,67,1407,488,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,3301,450,1318,1827,166,...,8754,4846,22,24,3,10,5,2281,6,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,2343,117,509,1354,512,...,7452,3742,70,75,10,55,26,1669,55,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,1860,56,284,960,637,...,3773,2009,36,43,5,31,22,1227,80,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,2185,223,928,1145,119,...,6124,3603,25,15,0,8,2,1576,3,Matches

In [136]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Touches_Touches', 'Touches_Def Pen',
       'Touches_Def 3rd', 'Touches_Mid 3rd', 'Touches_Att 3rd',
       'Touches_Att Pen', 'Touches_Live', 'Take-Ons_Att', 'Take-Ons_Succ',
       'Take-Ons_Succ%', 'Take-Ons_Tkld', 'Take-Ons_Tkld%', 'Carries_Carries',
       'Carries_TotDist', 'Carries_PrgDist', 'Carries_PrgC', 'Carries_1/3',
       'Carries_CPA', 'Carries_Mis', 'Carries_Dis', 'Receiving_Rec',
       'Receiving_PrgR', 'Unnamed: 27_level_0_Matches'],
      dtype='object')

In [137]:
df = df.rename(columns={
    # General info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Touches
    'Touches_Touches': 'Total Touches',
    'Touches_Def Pen': 'Touches Defensive Penalty Area',
    'Touches_Def 3rd': 'Touches Defensive Third',
    'Touches_Mid 3rd': 'Touches Middle Third',
    'Touches_Att 3rd': 'Touches Attacking Third',
    'Touches_Att Pen': 'Touches Attacking Penalty Area',
    'Touches_Live': 'Live Ball Touches',

    # Take-Ons (Dribbles)
    'Take-Ons_Att': 'Take-Ons Attempted',
    'Take-Ons_Succ': 'Take-Ons Successful',
    'Take-Ons_Succ%': 'Take-Ons Success %',
    'Take-Ons_Tkld': 'Take-Ons Tackled',
    'Take-Ons_Tkld%': 'Take-Ons Tackled %',

    # Carries
    'Carries_Carries': 'Carries',
    'Carries_TotDist': 'Carry Distance (Total)',
    'Carries_PrgDist': 'Carry Distance (Progressive)',
    'Carries_PrgC': 'Progressive Carries',
    'Carries_1/3': 'Carries into Final Third',
    'Carries_CPA': 'Carries into Penalty Area',
    'Carries_Mis': 'Miscontrolled Carries',
    'Carries_Dis': 'Dispossessed on Carries',

    # Receivingdf.columns=[col.lower().replace(' ','_') for col in df.columns]
    'Receiving_Rec': 'Passes Received',
    'Receiving_PrgR': 'Progressive Passes Received',

    # Matches
    'Unnamed: 27_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [138]:
df.to_csv('./Data/clean/stg_possession.csv', index=False)

In [139]:
df=pd.read_csv('./Data/raw/stg_passing.csv')
df.head()

,Unnamed: 0_level_0_Player,Unnamed: 1_level_0_Nation,Unnamed: 2_level_0_Pos,Unnamed: 3_level_0_Age,Unnamed: 4_level_0_90s,Total_Cmp,Total_Att,Total_Cmp%,Total_TotDist,Total_PrgDist,...,Unnamed: 19_level_0_Ast,Unnamed: 20_level_0_xAG,Expected_xA,Expected_A-xAG,Unnamed: 23_level_0_KP,Unnamed: 24_level_0_1/3,Unnamed: 25_level_0_PPA,Unnamed: 26_level_0_CrsPA,Unnamed: 27_level_0_PrgP,Unnamed: 28_level_0_Matches
0,Mohamed Salah,eg EGY,FW,32.0,37.5,892,1263,70.6,13343,3919,...,18,14.2,9.1,3.8,88,53,93,15,144,Matches
1,Virgil van Dijk,nl NED,DF,33.0,37.0,2688,2935,91.6,49037,19110,...,1,0.7,1.0,0.3,12,290,7,0,198,Matches
2,Ryan Gravenberch,nl NED,MF,22.0,35.1,1718,1927,89.2,25904,6528,...,4,3.1,3.5,0.9,26,151,35,2,181,Matches
3,Alexis Mac Allister,ar ARG,MF,25.0,28.9,1273,1524,83.5,20344,5748,...,5,4.7,5.6,0.3,45,122,35,2,177,Matches
4,Ibrahima Konaté,fr FRA,DF,25.0,28.4,1718,1905,90.2,31820,10824,...,2,1.0,0.9,1.0,10,143,9,0,115,Matches

In [140]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Total_Cmp', 'Total_Att', 'Total_Cmp%',
       'Total_TotDist', 'Total_PrgDist', 'Short_Cmp', 'Short_Att',
       'Short_Cmp%', 'Medium_Cmp', 'Medium_Att', 'Medium_Cmp%', 'Long_Cmp',
       'Long_Att', 'Long_Cmp%', 'Unnamed: 19_level_0_Ast',
       'Unnamed: 20_level_0_xAG', 'Expected_xA', 'Expected_A-xAG',
       'Unnamed: 23_level_0_KP', 'Unnamed: 24_level_0_1/3',
       'Unnamed: 25_level_0_PPA', 'Unnamed: 26_level_0_CrsPA',
       'Unnamed: 27_level_0_PrgP', 'Unnamed: 28_level_0_Matches'],
      dtype='object')

In [141]:
df = df.rename(columns={
    # General info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Passing: Total
    'Total_Cmp': 'Total Passes Completed',
    'Total_Att': 'Total Passes Attempted',
    'Total_Cmp%': 'Total Pass Completion %',
    'Total_TotDist': 'Total Pass Distance',
    'Total_PrgDist': 'Total Progressive Pass Distance',

    # Passing: Short
    'Short_Cmp': 'Short Passes Completed',
    'Short_Att': 'Short Passes Attempted',
    'Short_Cmp%': 'Short Pass Completion %',

    # Passing: Medium
    'Medium_Cmp': 'Medium Passes Completed',
    'Medium_Att': 'Medium Passes Attempted',
    'Medium_Cmp%': 'Medium Pass Completion %',

    # Passing: Long
    'Long_Cmp': 'Long Passes Completed',
    'Long_Att': 'Long Passes Attempted',
    'Long_Cmp%': 'Long Pass Completion %',

    # Other metrics
    'Unnamed: 19_level_0_Ast': 'Assists',
    'Unnamed: 20_level_0_xAG': 'Expected Assisted Goals (xAG)',
    'Expected_xA': 'Expected Assists (xA)',
    'Expected_A-xAG': 'Assists Minus xAG',

    'Unnamed: 23_level_0_KP': 'Key Passes',
    'Unnamed: 24_level_0_1/3': 'Passes into Final Third',
    'Unnamed: 25_level_0_PPA': 'Passes into Penalty Area',
    'Unnamed: 26_level_0_CrsPA': 'Crosses into Penalty Area',
    'Unnamed: 27_level_0_PrgP': 'Progressive Passes',

    # Matches
    'Unnamed: 28_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [142]:
df.to_csv('./Data/clean/stg_passing.csv', index=False)

In [143]:
df=pd.read_csv('./Data/raw/stg_goalkeeping.csv')

In [144]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age', 'Playing Time_MP',
       'Playing Time_Starts', 'Playing Time_Min', 'Playing Time_90s',
       'Performance_GA', 'Performance_GA90', 'Performance_SoTA',
       'Performance_Saves', 'Performance_Save%', 'Performance_W',
       'Performance_D', 'Performance_L', 'Performance_CS', 'Performance_CS%',
       'Penalty Kicks_PKatt', 'Penalty Kicks_PKA', 'Penalty Kicks_PKsv',
       'Penalty Kicks_PKm', 'Penalty Kicks_Save%',
       'Unnamed: 23_level_0_Matches'],
      dtype='object')

In [145]:
df = df.rename(columns={
    # Player Info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',

    # Playing Time
    'Playing Time_MP': 'Matches Played',
    'Playing Time_Starts': 'Starts',
    'Playing Time_Min': 'Minutes Played',
    'Playing Time_90s': '90s Played',

    # Performance
    'Performance_GA': 'Goals Against',
    'Performance_GA90': 'GA per 90',
    'Performance_SoTA': 'Shots on Target Against',
    'Performance_Saves': 'Saves',
    'Performance_Save%': 'Save Percentage',
    'Performance_W': 'Wins',
    'Performance_D': 'Draws',
    'Performance_L': 'Losses',
    'Performance_CS': 'Clean Sheets',
    'Performance_CS%': 'Clean Sheet Percentage',

    # Penalty Kicks
    'Penalty Kicks_PKatt': 'PK Faced',
    'Penalty Kicks_PKA': 'PK Allowed',
    'Penalty Kicks_PKsv': 'PK Saves',
    'Penalty Kicks_PKm': 'PK Missed',
    'Penalty Kicks_Save%': 'PK Save Percentage',

    # Matches Column
    'Unnamed: 23_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [146]:
df.to_csv('./Data/clean/stg_goalkeeping.csv', index=False)

In [147]:
df=pd.read_csv('Data/raw/stg_advanced_goalkeeping.csv')

In [148]:
df.columns

Index(['Unnamed: 0_level_0_Player', 'Unnamed: 1_level_0_Nation',
       'Unnamed: 2_level_0_Pos', 'Unnamed: 3_level_0_Age',
       'Unnamed: 4_level_0_90s', 'Goals_GA', 'Goals_PKA', 'Goals_FK',
       'Goals_CK', 'Goals_OG', 'Expected_PSxG', 'Expected_PSxG/SoT',
       'Expected_PSxG+/-', 'Expected_/90', 'Launched_Cmp', 'Launched_Att',
       'Launched_Cmp%', 'Passes_Att (GK)', 'Passes_Thr', 'Passes_Launch%',
       'Passes_AvgLen', 'Goal Kicks_Att', 'Goal Kicks_Launch%',
       'Goal Kicks_AvgLen', 'Crosses_Opp', 'Crosses_Stp', 'Crosses_Stp%',
       'Sweeper_#OPA', 'Sweeper_#OPA/90', 'Sweeper_AvgDist',
       'Unnamed: 30_level_0_Matches'],
      dtype='object')

In [149]:
df = df.rename(columns={
    # Player Info
    'Unnamed: 0_level_0_Player': 'Player',
    'Unnamed: 1_level_0_Nation': 'Nation',
    'Unnamed: 2_level_0_Pos': 'Position',
    'Unnamed: 3_level_0_Age': 'Age',
    'Unnamed: 4_level_0_90s': '90s Played',

    # Goals
    'Goals_GA': 'Goals Against',
    'Goals_PKA': 'Penalty Goals Allowed',
    'Goals_FK': 'Free Kick Goals Allowed',
    'Goals_CK': 'Corner Kick Goals Allowed',
    'Goals_OG': 'Own Goals',

    # Expected Goals
    'Expected_PSxG': 'Post-Shot xG',
    'Expected_PSxG/SoT': 'PSxG per SoT',
    'Expected_PSxG+/-': 'PSxG +/-',
    'Expected_/90': 'PSxG +/- per 90',

    # Launched Passes
    'Launched_Cmp': 'Launched Passes Completed',
    'Launched_Att': 'Launched Passes Attempted',
    'Launched_Cmp%': 'Launched Pass Completion %',

    # Passes
    'Passes_Att (GK)': 'Passes Attempted (GK)',
    'Passes_Thr': 'Throws',
    'Passes_Launch%': 'Launch % (Passes)',
    'Passes_AvgLen': 'Pass Avg Length',

    # Goal Kicks
    'Goal Kicks_Att': 'Goal Kicks Attempted',
    'Goal Kicks_Launch%': 'Launch % (Goal Kicks)',
    'Goal Kicks_AvgLen': 'Goal Kick Avg Length',

    # Crosses
    'Crosses_Opp': 'Opposition Crosses',
    'Crosses_Stp': 'Crosses Stopped',
    'Crosses_Stp%': 'Cross Stop %',

    # Sweeper Actions
    'Sweeper_#OPA': 'Sweeper OPA',
    'Sweeper_#OPA/90': 'OPA per 90',
    'Sweeper_AvgDist': 'OPA Avg Distance',

    # Matches Column
    'Unnamed: 30_level_0_Matches': 'Matches'
})
df.columns = [col.lower().replace(' ', '_') for col in df.columns]

In [150]:
df.to_csv('./Data/clean/stg_advanced_goalkeeping.csv', index=False)